.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  float: left;
}

.App-header {
  background-color: #93E1D5;
  height: 80px;
  padding: 20px;
  color: white;
}

h2 {
  float: left;
}

.waterlogo{
  background: url('./water-drop-empty.svg') no-repeat center center;
  width: 25px;
  height: 25px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
